h2 {
    color: #226a97;
    font-family: 'IBM Plex Sans Arabic', Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.container {
    margin-left: 20px;
}
.type {
    color: #3C84B1;
    margin: 0;
    margin-top: 10px;
}
::deep input{
    min-width: 200px;
    max-width: 350px;
    width: 30vw;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid #226a97;
    border-radius: 20px;
    margin: 0;
}
::deep input::-webkit-outer-spin-button,
::deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
::deep input[type=number] {
    -moz-appearance: textfield;
}
button {
    background-color: #226a97;
    font-family: 'IBM Plex Sans Arabic', Tahoma, sans-serif;
    font-size: 18px;
    color: #fff;
    width: 7vw;
    height: 40px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    min-width: 100px;
    z-index: 1;
}

button:hover {
    background-color: #1e5d85;
}

button:active {
    background-color: #fff;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}