h1[b-6n5tbi3jm6] {
    color: #226a97;
    font-family: 'IBM Plex Sans Arabic', Tahoma, sans-serif;
    font-weight: bold;
}
h4[b-6n5tbi3jm6] {
    color: #226a97;
    font-family: 'IBM Plex Sans Arabic', Tahoma, sans-serif;
    font-weight: bold;
}
#card[b-6n5tbi3jm6] {
    left: 0;
    width: 75vw;
    height: 35vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto;
}
